.btn {
  display: block;
  padding: size(17.5px) 0 size(14.5px);
  text-align: center;

  min-width: size(250px);

  color: $color-default-white;
  font-family: $ff-muller-reg;
  font-weight: 400;

  background-color: $color-orange;
  border: none;
  border-radius: 10em;
  box-shadow: 0px 7px 15px rgba(249, 87, 46, 0.60);
  cursor: pointer;

  transition: background-color $trans-default, opacity $trans-default, box-shadow $trans-default;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  &:hover,
  &:focus {
    background-color: $color-coral;
    transition: background-color $trans-default, box-shadow $trans-default;
    box-shadow: 0px 15px 20px rgba(249, 87, 46, 0.70);
  }

  &:active {
    opacity: 0.8;
    transition: opacity $trans-default;
  }
}
