@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Muller Medium";

  font-display: swap;
  src:
    url("../fonts/MullerMedium.woff2") format("woff2"),
    url("../fonts/MullerMedium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Muller Regular";

  font-display: swap;
  src:
    url("../fonts/MullerRegular.woff2") format("woff2"),
    url("../fonts/MullerRegular.woff") format("woff");
}
