@keyframes vibration {
  0% {transform:rotate(0deg);}
  10% {transform:rotate(-5deg);}
  20% {transform:rotate(5deg);}
  30% {transform:rotate(-5deg);}
  40% {transform:rotate(5deg);}
  50% {transform:rotate(0deg);}
}

@keyframes shake {
  0% {transform:rotate(0deg) translate(0px, 0px);}
  10% {transform:rotate(0deg) translate(1px, 0px);}
  20% {transform:rotate(0deg) translate(-1px, 0px);}
  30% {transform:rotate(0deg) translate(1px, 0px);}
  40% {transform:rotate(0deg) translate(-1px, 0px);}
  50% {transform:rotate(0deg) translate(0px, 0px);}
}

@keyframes jump {
  0% {transform: translateY(0px);}
  10% {transform: translateY(3px);}
  20% {transform: translateY(-3px);}
  30% {transform: translateY(3px);}
  40% {transform: translateY(-3px);}
  50% {transform: translateY(0px);}
}
